@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Single Day', cursive;
}
* {
  box-sizing: border-box;
}

.blind, legend {
  overflow: hidden;
  position: absolute!important;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.l-wrapper {
  width: 1140px;
  height: 100vh;
  padding: 50px;
  margin: 0 auto;
  background: url(./bg.jpg) no-repeat 0 0 / 100% ;
}
.l-wrapper h1 {
  width: 50%;
  text-align: center;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  padding: 16px;
  background: rgba(255,255,255,.9);
  border-radius: 10px;
}
.game > p {
  margin-top: 0;
}
.game .counter {
  margin-left: 5px;
}
.game fieldset {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  border: 1px solid #cecece;
}
.game .notice {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}
.game input[type=text] {
  flex: 0 0 100%;
  line-height: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.game button {
  padding: 5px 10px;
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}
.game button + button {
  margin-left: 5px;
}
.game .btn-reset {
  background-color: black;
}
.game .btn-go {
  background-color: dodgerblue;
}
.game .btn-go:disabled {
  color: darkgray;
  background-color: lightgray;
}